html {

    font-size: 62.5%;
}

body {

    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.padre {
background: #fff;
display: flex;
flex-flow:column nowrap;

}

    .header {

      display: flex;
      flex-flow:column nowrap;
      border: 1rem solid #fff;
      
    }.contactanos {
        display:flex;
        flex-flow:row nowrap;
        background: rgb(247, 234, 217);
        align-items: center;
        border-bottom: 0.1rem rgba(255,255,255,0.5);
        height: 6rem;
    }
    .telefonos{
        display:flex;
        flex-flow: row nowrap; 
        align-items: center;
        border-bottom: 0.1rem rgba(255,255,255,0.5);
        height: 6rem;
        flex: 5 1 auto;
    }
    .nav {
        flex: auto;
      
    }
    .nav ul{

        list-style: none;
       
        margin:0 15px 0 0 ;
        
      }
    .menu1 {

        flex: 1 1 1;
       
    }
    .nav ul li{
       
        display: inline-block;
        
    }

    .menu1 a {

        color:#000;
        text-decoration: none;
        display: block;
        padding: 15px ;
        float: right ;

    }
    .menu1 a:hover{
        color:#ffff;
    }



    .menu2{
        display:flex;
        flex-flow:row nowrap;
        align-items: center;
        border-bottom: 0.1rem rgba(255,255,255,0.5);
        height: 6rem;
        margin-bottom: 30px;
        


    }
    .logo{
padding: 15px;
margin-top: 35px;
    }
.busqueda{
    flex: 5 1 auto;
    float: none;
    margin-left: 50px;
    padding: 60px 20px;
}
.boton{
    width: 90px;
    height: 30px;
}
.cdt{
    width: 500px;
    height: 30px;

}
.acciones{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    border-bottom: 0.1rem rgba(255,255,255,0.5);
    height: 6rem;
    padding: 10px 35px;
}
.icono1{
    padding: 8px;

}
.icono2{
    padding: 8px;

}
.icono3{
    padding: 8px;

}
.banner{

    background-color: rgb(247, 234, 217);
}
    .banner1 {
   
        width: 70%;
        height: 45rem;
       
        margin: auto;
        background-size: 100% 100%;
    
        animation: banner 10s  infinite;
    
        }
        @keyframes banner  {
            0%,30% {background-image: url(../imagenes/bn1.jpeg);
                
            }
            
            31%, 65% { background-image: url(../imagenes/bn2.jpeg);
               
            }
            
            66%,100% { background-image: url(../imagenes/bn3.jpeg);
                
            }
            
    }


    .section {
        border: 1rem solid #fff;
       display: flex;
       }
        .articulos{
           
            flex: 2 1 auto;
            display:flex;
            flex-flow: row wrap;
        }
        .destacados{
           flex: 1 1 100%;
        }
   
         
           .article{
               
               margin:1rem 1rem 0 0px;
               flex: 1 1 30%;   
           }

           
            .article p, h2{
                color: #000;
            }
            .h h2{
                color: #fff;
            }

    .footer{
        background: rgb(247, 234, 217);
        display: flex;    
        margin-top: 1rem;
    }
    .cn{
        display:flex;
        flex-flow:column nowrap;
        float:left;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer h2{
        text-transform: uppercase;
    }